body {
  background-color: #edebeb;
  box-sizing: border-box;
}
.clear {
  zoom: 1;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
}
.ks-clear:after,
.clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.ks-clear,
.clear {
  *zoom: 1;
}
#title {
  height: 2.5em;
  line-height: 2.5em;
  font-size: 1.1em;
  color: #c0bbbb;
  background-color: white;
  text-align: center;
  border-bottom: 1px solid #cacaca;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
@media screen and (min-width: 100px) and (max-width: 361px) {
  body {
    font-size: 0.8em!important;
  }
}
@media screen and (min-width: 600px) and (max-width: 1300px) {
  body {
    font-size: 1.4em!important;
  }
}
p {
  margin: 0.6em 0;
}
body {
  background-color: white;
}
#title {
  height: 2.5em;
  line-height: 2.5em;
  font-size: 1.1em;
  color: #c0bbbb;
  background-color: white;
  text-align: center;
  border-bottom: 1px solid #cacaca;
}
#nav {
  padding: 1em 0;
  position: relative;
  font-size: 1.1em;
  background-color: white;
  height: 2em;
}
#passenger {
  padding: 0.3em 0;
  position: absolute;
  display: inline-block;
  width: 4em;
  left: 50%;
  margin-left: -5em;
}
.navactive {
  color: #ff8400;
  border-bottom: 1px solid #ff8400;
}
#driver {
  padding: 0.3em 0;
  position: absolute;
  display: inline-block;
  width: 4em;
  left: 50%;
  margin-left: 1em;
}
#currentline {
  position: relative;
  color: #898989;
  font-size: 1.0em;
  margin: 0 1.3em;
  border-radius: 0.5em;
  border: 2px solid #cacaca;
  padding: 2em 1em 0.3em 1em;
}
#currentline button {
  float: right;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 0.9em;
}
#currentline p {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
#currentline .confirm {
  background-color: #1e9e5e;
}
#currentline .noconfirm {
  background-color: #a8a8a8;
}
#currentline .cancle {
  background-color: #ffd46b;
}
#confirmbutton {
  position: relative;
  padding-bottom: 2em;
}
#confirmbutton button {
  color: white;
  background-color: #ff8400;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0.4em 0.8em;
  position: absolute;
  left: 50%;
  top: 0.2em;
  margin-left: -3em;
  font-size: 0.9em;
  margin-bottom: 0.4em;
}
#confirmbutton span {
  display: inline-block;
  position: absolute;
  right: 1em;
  top: 0.8em;
  color: black;
  font-size: 0.8em;
  font-weight: bold;
}
.currentlinelabel {
  position: absolute;
  background-color: #6C94C0;
  color: white;
  padding: 0.2em 1em;
  top: -1em;
  left: 1em;
  box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.11);
}
#totalprice {
  position: absolute;
  font-size: 1.2em;
  top: 1em;
  right: 2em;
}
#totalprice span {
  color: #ff8400;
}
#pingfen {
  position: absolute;
  right: 2.5em;
  top: 5em;
}
#pingfen i {
  color: gold;
}
#historyline {
  margin-top: 2em;
  position: relative;
}
.historylineitem {
  border-bottom: 1px solid #cacaca;
  padding: 1em;
  color: #898989;
}
.historylineitemtime {
  margin-left: 3.6em;
}
.historylineitemdetail {
  color: #6C94C0;
  float: right;
}
.firsthistorylineitem {
  border-top: 1px solid #cacaca;
}
#locationtime {
  float: right;
}
#location {
  float: right;
}
#locationline {
  margin-bottom: 1.4em;
}
#phonenum {
  margin-bottom: 1.4em;
}
