<div id="head">验证手机</div>
<div id="content">
    <div id="subtitle">为方便于车主联系,请验证手机</div>
    <div id="phone">
        <input  type="number" maxlength="13" placeholder="手机号" ng-model="tel">
        <button type="button" ng-click="getCode()">获取验证码</button>
    </div>
    <div id="yanzhengma">
        <input type="text" placeholder="验证码" ng-model="code">
    </div>
    <div id="confirm">
        <button type="button" no-click="registerPassenger()">确定</button>
    </div>
    <div id="item">
        <span>点击-确定,既表示您同意</span>
        <span id="item1"><<法律声明及隐私策略>></span>
    </div>
    
</div>
