<div id="title">
    我的行程 
</div>
<div id="nav">
    <div id="passenger" class="navactive">
        我是乘客
    </div>
    <div id="driver">
        我是车主
    </div>
</div>
 <div id="currentline" class="ks-clear" ng-show="isPassenger">
	<p>{{trip.start_time*1000|date:'yyyy年MM月dd日 HH:mm'}}</p>
	<p>{{trip.start}}&nbsp;—&nbsp;{{trip.end}}</p>
	<p>车牌号:<span>{{trip.plate_number}}</span></p>
	<p>车主电话:<span><a href="tel:{{trip.tel}}">{{trip.tel}}</a></span></p>
	<p>集合地点:<span>{{trip.venue}}</span></p>
    <div id="confirmbutton">
        <button ng-click="submit()">确认乘坐</button>
        <span>未乘坐?点这里</span>
    </div>
    <div class="currentlinelabel">当前线路</div>
    <div id="totalprice">总价:<span>{{order.price/100|number:2}}元</span></div>
    <div id="pingfen">
        <p>请给车主评分</p>
        <div>
            <i>ic</i>
            <i>ic</i>
            <i>ic</i>
            <i>ic</i>
            <i>ic</i>
        </div>

    </div>
</div>

<div id="currentline" class="ks-clear" ng-show="isOwner">
	<p id="locationline">{{trip.start}}&nbsp;—&nbsp;{{trip.end}} <span id="locationtime">{{trip.start_time*1000|date:'yyyy年MM月dd日 HH:mm'}}</span></p>
	<p id="phonenum">车牌号:<span>{{trip.plate_number}}</span> <span id="location">集合地点:<span>{{trip.venue}}</span></span></p>
	<div ng-repeat="order in orders">
		<p>乘客电话:<span><a href="tel:{{order.tel}}">{{order.tel}}</a></span> <button class="confirm">{{order.status}}</button></p>
    	</div>
    <div class="currentlinelabel">当前线路</div>

</div>

<div id="historyline">
    <div class="currentlinelabel">历史行程</div>
    <div class="historylineitem firsthistorylineitem">
        <span class="historylineitemlocation">府谷&nbsp;-&nbsp;榆林</span>
        <span class="historylineitemtime">2016年2月15日10:50</span>
        <span class="historylineitemdetail">详情</span>
    </div>
    <div class="historylineitem">
        <span class="historylineitemlocation">府谷&nbsp;-&nbsp;榆林</span>
        <span class="historylineitemtime">2016年2月15日10:50</span>
        <span class="historylineitemdetail">详情</span>
    </div>
    <div class="historylineitem">
        <span class="historylineitemlocation">府谷&nbsp;-&nbsp;榆林</span>
        <span class="historylineitemtime">2016年2月15日10:50</span>
        <span class="historylineitemdetail">详情</span>
    </div>
    <div class="historylineitem ">
        <span class="historylineitemlocation">府谷&nbsp;-&nbsp;榆林</span>
        <span class="historylineitemtime">2016年2月15日10:50</span>
        <span class="historylineitemdetail">详情</span>
    </div>
    <div class="historylineitem">
        <span class="historylineitemlocation">府谷&nbsp;-&nbsp;榆林</span>
        <span class="historylineitemtime">2016年2月15日10:50</span>
        <span class="historylineitemdetail">详情</span>
    </div>
</div>
