<div id="header">
    <div class=" title">
        发布行程
    </div>
    <div class="item subtitle">
        <div class="subtitletext">
            <div>
                每一次遇见,
            </div>
            <div>
                都能发现不一样的人生
            </div>
        </div>

    </div>
    <div class="item">
        <i class="icon iconfont" id="starticon">&#xe64a;</i>
        <input type="text" placeholder="起点">
    </div>
    <div class="item">
        <i class="icon iconfont " id="endicon">&#xe64a;</i>
        <input type="text" placeholder="终点">
    </div>
    <div class="item">
        <i class="icon iconfont" >&#xe706;</i>
        <input style="width: 83%" type="datetime-local" placeholder="时间" ng-model="startTime">
    </div>
    <div class="item">
        <i class="icon iconfont">&#xe614;</i>
        <input type="text" placeholder="剩余座位" ng-model="seatCount">
    </div>
    <div class="item">
        <i class="icon iconfont">&#xe650;</i>
        <input type="text" placeholder="集合地点" ng-model="venue">
    </div>
</div>
<div id="footer">
    <div class="item clear">
        <i class="icon iconfont leftimtetext">&#xe63d;</i>
        <div class="leftimtetext">
            <span >车辆号牌</span>
        </div>
        <div class="rightitemtext">
            <span id="chepai">{{plateNumber}}</span>
            <a  href="">&nbsp修改</a>
        </div>

    </div>
    <div class="item clear" id="item2">
        <i class="icon iconfont leftimtetext">&#xe64e;</i>
        <span  class="leftimtetext">单座价格</span>
        <span class="rightitemtext">40元</span>
    </div>
</div>
<div id="button">
    <button type="button" ng-click="publishTrip()">确认发布</button>
</div>
<br>
<br>