
<div id="navtop">
    <div id="title">
        <i>
            &nbsp;&nbsp;&nbsp;icon
        </i>
        <span>
            府谷&nbsp;-&nbsp;榆林
        </span>
    </div>
    <div id="subtitle" class="ks-clear">
        <div id="subtitleleft">
            <i>icon</i>
            <span>前一天</span>
        </div>
        <input type="date" value="">
        <div id="subtitleright">
            <span>后一天</span>
            <i>icon</i>
        </div>
    </div>
</div>
<div id="newpost" ng-repeat="trip in data">
    <div class="newpostitem" ng-click="toBuy(trip._id.$oid)">
        <img class="newpostcaricon" src="img/peopleinfo.png" alt=""/>
        <div class="newpoststart">
            <i>i</i>&nbsp;<i>i</i>&nbsp;<i>i</i>&nbsp;<i>i</i>&nbsp;<i>i</i>
        </div>
        <div class="newpostlinetime">
            <div class="newpostline">
		    <span>{{trip.start}}</span>
                <span>&nbsp;-&nbsp;</span>
		<span>{{trip.end}}</span>
            </div>
            <div class="newposttime">
		    <span>{{trip.start_time_text}}</span>
            </div>
        </div>
        <div class="newpostprice">
		<span>{{trip.price/100}}元|人</span>
        </div>
        <div class="newpostseat">
		<span>余{{trip.current_seat}}座</span>
        </div>
        <a class="newposticon" href=""><img src="img/peopleinfo.png" alt=""/></a>
    </div>
      
</div>

<div id="navfooter">
    <div id="navfooterleft">
        <span>时间</span>
        <i>icon</i>
    </div>
    <div id="navfooterright">
        <span>时间</span>
        <i>icon</i>
    </div>
</div>
