<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes"  />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <title>天天拼车</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
</head>
<body>
    <div id="title">
        我的拼车
    </div>
    <div id="profile" class="clear">
        <img src="{{headimgurl}}" alt="">
        <div class="fl"></div>
        <span>我的拼车信息</span>
        <i class="fr iconfont">&#xe60e;
        </i>
    </div>
    <div id="aboutme" class="clear">
        <div class="aboutmeitem">
            <i style="color: #00af00" class="fl iconfont">&#xe60b;
            </i>
            <span>我的行程</span>
            <i class="fr iconfont">&#xe60e;</i>
        </div>
        <div class="aboutmeitem">
            <i style="color: gold" class="fl iconfont">&#xe60d;
            </i>
            <span>我的账单</span>
            <i class="fr iconfont">&#xe60e;
            </i>
        </div>
        <div class="aboutmeitem">
            <i style="color: #00bf00" class="fl iconfont">&#xe609;
            </i>
            <span>车主认证</span>
            <i class="fr iconfont">&#xe60e;
            </i>
        </div>
        <div class="aboutmeitem">
            <i style="color:#787878;" class="fl iconfont">&#xe607;
            </i>
            <span>我的车辆</span>
            <i class="fr iconfont">&#xe60e;
            </i>
        </div>

        <div class="aboutmeitem">
            <i style="color:rgba(235, 0, 0, 0.43);" class="fl iconfont">&#xe604;
            </i>
            <span>拼车指南</span>
            <i class="fr iconfont">&#xe60e;
            </i>
        </div>
    </div>
    <div id="suggest">
        <div class="suggestitem">
            <i style="color: #518874" class="fl iconfont">&#xe60c;
            </i>
            <span>我要建议</span>
            <i class="fr iconfont">&#xe60e;
            </i>
        </div>
        <div class="suggestitem">
            <i style="color: gold" class="fl iconfont">&#xe60a;
            </i>
            <span>法律条款</span>
            <i class="fr iconfont">&#xe60e;
            </i>
        </div>
        <div class="suggestitem">
            <i style="color: #aaaaaa;" class="fl iconfont">&#xe608;
            </i>
            <span>关于我们</span>
            <i class="fr iconfont">&#xe60e;
            </i>
        </div>
    </div>

</body>
</html>